<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>jAlarms</title>
<!--
A free web template by spyka Webmaster (http://www.spyka.net)
//-->
<link rel="stylesheet" href="{{ site.base-url }}/css/core.css" type="text/css" />
</head>
<body>
<div id="wrapper">

	<div id="sitename" class="clear">
		<h1><a href="#">jAlarms Next Generation</a></h1>
	</div>
	
	<div id="navbar">	
		<div class="clear">
			<ul class="sf-menu clear">
				<li class="selected"><a href="{{ site.base-url }}/index.html"><span>home</span></a></li>
				<li><a href="{{ site.base-url }}/documentation/index.html"><span>documentation</span></a></li>
				<li><a href="#"><span>development</span></a></li>
				<li><a href="https://github.com/uded{{ site.base-url }}/issues"><span>bug tracking</span></a></li>
			</ul>
		</div>
	</div>
	
	<div id="header" class="clear">
		<div class="header-text">
			<h2><strong>jAlarms</strong> download and use</h2>
			<p>In order to start using jAlarms just download the package from <a href="http://github.com/uded/jAlarms">Github</a>.</p>
			
			<p class="header-buttons">
				<a href="#" class="button pngfix">Quickstart</a>
				<a href="{{ site.base-url }}/documentation/maven.html" class="button color-button pngfix">Maven</a>
			</p>
			
		</div>
		<div class="header-images">
			<a href="http://github.com/uded{{ site.base-url }}/zipball/master">
				<img src="http://github.com/images/modules/download/zip.png" width="90"></a>
			<a href="http://github.com/uded{{ site.base-url }}/tarball/master">
        		<img src="http://github.com/images/modules/download/tar.png" width="90"></a>
		</div>
		
	</div>
	<div class="header-bottom"></div>
	
	<div id="body-wrapper">
	
    	<!-- BREADCRUMB NAVIGATION -->
		<div class="bcnav">
			<div class="bcnav-left">
				<div class="bcnav-right clear">
					<h3>you are here:</h3>
					<ul class="bcnavlist">
						<li><a href="#">home</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div id="body" class="clear">

			
			<div class="clear">
				<div class="column column-650 column-left">
					{{ content }}
				</div>
				<div id="sidebar" class="column column-240 column-right">
					<div id="social">
						<script src="http://platform.linkedin.com/in.js" type="text/javascript"></script>
						<script type="IN/Share" data-url="http://uded.github.com{{ site.base-url }}/" data-counter="right"></script>
						<br/>
						<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://uded.github.com{{ site.base-url }}/" data-text="jAlarms Next Generation seems to be a really nice lib to use with my Java app!" data-count="horizontal" data-via="jAlarms">Tweet</a>
						<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>						
						<br/>
						<iframe src="http://www.facebook.com/plugins/like.php?app_id=215976241756653&amp;href=http%3A%2F%2Fuded.github.com%2FjAlarmsNG%2F&amp;send=false&amp;layout=box_count&amp;width=230&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=segoe+ui&amp;height=90" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:230px; height:90px;" allowTransparency="true"></iframe>
					</div>
					<ul>	
                        <li>
                            <h4>My other Open Source projects</h4>
                            <ul>
                                <li><a href="https://github.com/uded/jggapi" title="Java Gadu-Gadu API">Java Gadu-Gadu API</a></li>
                                <li><a href="https://github.com/uded/gallery-remote-ng" title="gallery remote NG">gallery remote NG</a></li>
                            </ul>
                        </li>
                        
                        <li>
                            <h4>Categories</h4>
                            <ul>
                              <li><a href="#">Lorem ipsum dolor sit amet.</a></li>
                              <li><a href="#">Quisque consequat nunc a felis.</a></li>
                              <li><a href="#">Suspendisse consequat magna at.</a></li>
                              <li><a href="#">Etiam eget diam id ligula rhoncus.</a></li>
                              <li><a href="#">Sed in mauris non nibh.</a></li>
                            </ul>
                        </li>

                        <li>
                            <h4>Sponsors</h4>
                            <ul>
                                <li><a href="http://www.themeforest.net/?ref=spykawg" title="premium templates"><strong>ThemeForest</strong></a> - premium HTML templates, WordPress themes and PHP scripts</li>
                                <li><a href="http://www.dreamhost.com/r.cgi?259541" title="web hosting"><strong>Web hosting</strong></a> - 50 dollars off when you use promocode <strong>awesome50</strong></li>
                                <li><a href="http://www.4templates.com/?aff=spykawg" title="4templates"><strong>4templates</strong></a> - brilliant premium templates</li>
                            </ul>
                        </li>
                    </ul> 
				</div>
			</div>
			<!-- end three column -->
		</div>
	</div>
	
	<div id="footer">
		<p><span>&copy; 2011 Radical Creations, Łukasz Rżanek</span> 
		<span class="right">Design by <a href="http://www.spyka.net">Free CSS Templates</a> &amp; <a href="http://www.justfreetemplates.com">Free Web Templates</a></span></p>
	</div>

</div>
</body>
</html>
